{
  "minify": false,
  "sourceMaps": true,
  "jsc": {
    "target": "es2022",
    "parser": {
      "syntax": "typescript",
      "decorators": true,
      "tsx": false,
      "dynamicImport": true
    },
    "transform": {
      "decoratorMetadata": true
    },
    "keepClassNames": true,
    "paths": {
      "@/*": ["src/*"]
    },
    "baseUrl": "."
  },
  "module": {
    "type": "commonjs",
    "strict": true,
    "strictMode": true,
    "noInterop": false
  }
}
